.body{
font-family: Arial, Helvetica, sans=sans-serif;
}

/************ Classes for header and paragraph ***********/
/*Welcome picture header*/
.header{
padding: 200px;
text-align: center;
background-color:whitesmoke;
background-image: url(images/desktop.jpg);
background-repeat:no-repeat;
background-size: cover;
color: #000000;
}
/* Increase the font size of the h1 element */
.header h1 {
    font-size: 40px;
}
/*********************************************************/

/********************* Layout ***************************/
/* Column container */
.row {  
    /*clear: both;*/
    display: inline-flex;
    /*flex-wrap: wrap;*/
    width: 100%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 10px;
    color:black
}

/* Main column */
.main {   
    flex: 70%;
    background-color: white;
    padding: 20px;
    color:#000000;
}
/********************************************************/

/************* Classes for navigation bar***************/
/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top:0;
    width: 100%;
}
/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/********************************************************/
/********************** Image ***************************/
/* image */
.img {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
/********************************************************/

/********************* Text Style ***********************/
/*first line line indent*/
.indent{
text-indent: 20px;
}

/*tab effect*/
.tab{
margin-left:25px;
/*can also use margin-right*/
}

/******************************************************/